# Imports

In [1]:
import sqlite3

from sqlalchemy import create_engine, Column, Integer, String, ForeignKey
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import relationship, sessionmaker

# Introduction

The purpose of this Notebook is to learn SQLAlchemy, especially the ORM part, on a simple dataset involving authors and books.

> **NOTE**
>
> For simplicity purpose, here is assumed that a book as only one author, meaning the book to author relationship is **many to one**.
>
> One case with **many to many** relationships should be studied later.

# Defining the Models

In [2]:
# Foundational step when using the ORM
Base = declarative_base()

/tmp/ipykernel_23444/40742089.py:2: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

In [3]:
class Author(Base):
    __tablename__ = 'Authors'
    
    AuthorID = Column(Integer, primary_key=True, autoincrement=True)
    Name = Column(String, nullable=False)
    
    # Relationship to link to the books (an author may have many books)
    books = relationship("Book", back_populates="author")

In [4]:
class Book(Base):
    __tablename__ = 'Books'
    
    BookID = Column(Integer, primary_key=True, autoincrement=True)
    Title = Column(String, nullable=False)
    AuthorID = Column(Integer, ForeignKey('Authors.AuthorID'))  # Note this is the __tablename__ and note the class' name
    
    # Relationship to link to the author
    author = relationship("Author", back_populates="books")

# Connecting and Inserting Data

游녤 We will use an in-memory SQLite instance.

This essentially means the DB will run on RAM and, hence, there won't be any persistence of data, but this isn't a problem here as we're only playing with toy

> **NOTE**
>
> It's worth to note that:
> - the data will be erased **when the connection is closed** and not **when the session is closed**.
> - by default, SQLAlchemy **isn't on auto-commit mode** and **it's best practise to commit your changes**.

In [5]:
# Create an engine and bind the metadata of the Base class to this engine
engine = create_engine('sqlite:///:memory:', echo=True)  # Using an in-memory SQLite database
Base.metadata.create_all(engine)

# Create a sessionmaker bound to the engine
Session = sessionmaker(bind=engine)

2024-05-12 15:08:06,314 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-05-12 15:08:06,314 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Authors")
2024-05-12 15:08:06,315 INFO sqlalchemy.engine.Engine [raw sql] ()

2024-05-12 15:08:06,317 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("Authors")
2024-05-12 15:08:06,317 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-05-12 15:08:06,318 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Books")
2024-05-12 15:08:06,319 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-05-12 15:08:06,320 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("Books")
2024-05-12 15:08:06,321 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-05-12 15:08:06,322 INFO sqlalchemy.engine.Engine
CREATE TABLE "Authors" (
	"AuthorID" INTEGER NOT NULL,
	"Name" VARCHAR NOT NULL,
	PRIMARY KEY ("AuthorID")
)


2024-05-12 15:08:06,323 INFO sqlalchemy.engine.Engine [no key 0.00067s] ()
2024-05-12 15:08:06,325 INFO sqlalchemy.engine.Engine
CREATE TABLE "Books" (
	"BookID" INTEGER NOT NULL,
	"Title" VARCHAR NOT NULL,
	"AuthorID" INTEGER,
	PRIMARY KEY ("BookID"),
	FOREIGN KEY("AuthorID") REFERENCES "Authors" ("AuthorID")
)


2024-05-12 15:08:06,326 INFO sqlalchemy.engine.Engine [no key 0.00062s] ()
2024-05-12 15:08:06,327 INFO sqlalchemy.engine.Engine COMMIT

In [6]:
# Authors and Books data
authors = [
    Author(Name="Alice Munro"),
    Author(Name="Chimamanda Ngozi Adichie"),
    Author(Name="Gabriel Garc칤a M치rquez"),
    Author(Name="Haruki Murakami"),
    Author(Name="J.K. Rowling")
]

books = [
    Book(Title="Runaway", author=authors[0]),
    Book(Title="Half of a Yellow Sun", author=authors[1]),
    Book(Title="Americanah", author=authors[1]),
    Book(Title="One Hundred Years of Solitude", author=authors[2]),
    Book(Title="Love in the Time of Cholera", author=authors[2]),
    Book(Title="Norwegian Wood", author=authors[3]),
    Book(Title="Kafka on the Shore", author=authors[3]),
    Book(Title="Harry Potter and the Sorcerer's Stone", author=authors[4]),
    Book(Title="Harry Potter and the Chamber of Secrets", author=authors[4])
]

In [7]:
# Using a context manager to handle the session
with Session() as session:
    session.add_all(authors + books)
    session.commit()

2024-05-12 15:08:06,354 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-05-12 15:08:06,357 INFO sqlalchemy.engine.Engine INSERT INTO "Authors" ("Name") VALUES (?) RETURNING "AuthorID"
2024-05-12 15:08:06,358 INFO sqlalchemy.engine.Engine [generated in 0.00016s (insertmanyvalues) 1/5 (ordered; batch not supported)] ('Alice Munro',)
2024-05-12 15:08:06,360 INFO sqlalchemy.engine.Engine INSERT INTO "Authors" ("Name") VALUES (?) RETURNING "AuthorID"
2024-05-12 15:08:06,361 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/5 (ordered; batch not supported)] ('Chimamanda Ngozi Adichie',)
2024-05-12 15:08:06,361 INFO sqlalchemy.engine.Engine INSERT INTO "Authors" ("Name") VALUES (?) RETURNING "AuthorID"
2024-05-12 15:08:06,362 INFO sqlalchemy.engine.Engine [insertmanyvalues 3/5 (ordered; batch not supported)] ('Gabriel Garc칤a M치rquez',)
2024-05-12 15:08:06,364 INFO sqlalchemy.engine.Engine INSERT INTO "Authors" ("Name") VALUES (?) RETURNING "AuthorID"
2024-05-12 15:08:06,365 INFO sqlalchemy.engine.Engine [insertmanyvalues 4/5 (ordered; batch not supported)] ('Haruki Murakami',)
2024-05-12 15:08:06,366 INFO sqlalchemy.engine.Engine INSERT INTO "Authors" ("Name") VALUES (?) RETURNING "AuthorID"
2024-05-12 15:08:06,367 INFO sqlalchemy.engine.Engine [insertmanyvalues 5/5 (ordered; batch not supported)] ('J.K. Rowling',)
2024-05-12 15:08:06,370 INFO sqlalchemy.engine.Engine INSERT INTO "Books" ("Title", "AuthorID") VALUES (?, ?) RETURNING "BookID"
2024-05-12 15:08:06,371 INFO sqlalchemy.engine.Engine [generated in 0.00010s (insertmanyvalues) 1/9 (ordered; batch not supported)] ('Runaway', 1)
2024-05-12 15:08:06,372 INFO sqlalchemy.engine.Engine INSERT INTO "Books" ("Title", "AuthorID") VALUES (?, ?) RETURNING "BookID"
2024-05-12 15:08:06,372 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/9 (ordered; batch not supported)] ('Half of a Yellow Sun', 2)
2024-05-12 15:08:06,373 INFO sqlalchemy.engine.Engine INSERT INTO "Books" ("Title", "AuthorID") VALUES (?, ?) RETURNING "BookID"
2024-05-12 15:08:06,374 INFO sqlalchemy.engine.Engine [insertmanyvalues 3/9 (ordered; batch not supported)] ('Americanah', 2)
2024-05-12 15:08:06,375 INFO sqlalchemy.engine.Engine INSERT INTO "Books" ("Title", "AuthorID") VALUES (?, ?) RETURNING "BookID"
2024-05-12 15:08:06,375 INFO sqlalchemy.engine.Engine [insertmanyvalues 4/9 (ordered; batch not supported)] ('One Hundred Years of Solitude', 3)
2024-05-12 15:08:06,377 INFO sqlalchemy.engine.Engine INSERT INTO "Books" ("Title", "AuthorID") VALUES (?, ?) RETURNING "BookID"
2024-05-12 15:08:06,377 INFO sqlalchemy.engine.Engine [insertmanyvalues 5/9 (ordered; batch not supported)] ('Love in the Time of Cholera', 3)
2024-05-12 15:08:06,379 INFO sqlalchemy.engine.Engine INSERT INTO "Books" ("Title", "AuthorID") VALUES (?, ?) RETURNING "BookID"
2024-05-12 15:08:06,380 INFO sqlalchemy.engine.Engine [insertmanyvalues 6/9 (ordered; batch not supported)] ('Norwegian Wood', 4)
2024-05-12 15:08:06,382 INFO sqlalchemy.engine.Engine INSERT INTO "Books" ("Title", "AuthorID") VALUES (?, ?) RETURNING "BookID"
2024-05-12 15:08:06,383 INFO sqlalchemy.engine.Engine [insertmanyvalues 7/9 (ordered; batch not supported)] ('Kafka on the Shore', 4)
2024-05-12 15:08:06,384 INFO sqlalchemy.engine.Engine INSERT INTO "Books" ("Title", "AuthorID") VALUES (?, ?) RETURNING "BookID"
2024-05-12 15:08:06,385 INFO sqlalchemy.engine.Engine [insertmanyvalues 8/9 (ordered; batch not supported)] ("Harry Potter and the Sorcerer's Stone", 5)
2024-05-12 15:08:06,386 INFO sqlalchemy.engine.Engine INSERT INTO "Books" ("Title", "AuthorID") VALUES (?, ?) RETURNING "BookID"
2024-05-12 15:08:06,387 INFO sqlalchemy.engine.Engine [insertmanyvalues 9/9 (ordered; batch not supported)] ('Harry Potter and the Chamber of Secrets', 5)
2024-05-12 15:08:06,389 INFO sqlalchemy.engine.Engine COMMIT

In [8]:
# To verify insertion, print authors and their books
with Session() as session:
    for author in session.query(Author).all():
        print(f"Author: {author.AuthorID} - {author.Name}")
        for book in author.books:
            print(f" - Book: {book.Title}")

2024-05-12 15:08:06,400 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-05-12 15:08:06,403 INFO sqlalchemy.engine.Engine SELECT "Authors"."AuthorID" AS "Authors_AuthorID", "Authors"."Name" AS "Authors_Name"
FROM "Authors"
2024-05-12 15:08:06,404 INFO sqlalchemy.engine.Engine [generated in 0.00078s] ()
Author: 1 - Alice Munro
2024-05-12 15:08:06,408 INFO sqlalchemy.engine.Engine SELECT "Books"."BookID" AS "Books_BookID", "Books"."Title" AS "Books_Title", "Books"."AuthorID" AS "Books_AuthorID"
FROM "Books"
WHERE ? = "Books"."AuthorID"
2024-05-12 15:08:06,409 INFO sqlalchemy.engine.Engine [generated in 0.00115s] (1,)
 - Book: Runaway
Author: 2 - Chimamanda Ngozi Adichie
2024-05-12 15:08:06,412 INFO sqlalchemy.engine.Engine SELECT "Books"."BookID" AS "Books_BookID", "Books"."Title" AS "Books_Title", "Books"."AuthorID" AS "Books_AuthorID"
FROM "Books"
WHERE ? = "Books"."AuthorID"
2024-05-12 15:08:06,413 INFO sqlalchemy.engine.Engine [cached since 0.004628s ago] (2,)
 - Book: Half of a Yellow Sun
 - Book: Americanah
Author: 3 - Gabriel Garc칤a M치rquez
2024-05-12 15:08:06,415 INFO sqlalchemy.engine.Engine SELECT "Books"."BookID" AS "Books_BookID", "Books"."Title" AS "Books_Title", "Books"."AuthorID" AS "Books_AuthorID"
FROM "Books"
WHERE ? = "Books"."AuthorID"
2024-05-12 15:08:06,415 INFO sqlalchemy.engine.Engine [cached since 0.007155s ago] (3,)
 - Book: One Hundred Years of Solitude
 - Book: Love in the Time of Cholera
Author: 4 - Haruki Murakami
2024-05-12 15:08:06,418 INFO sqlalchemy.engine.Engine SELECT "Books"."BookID" AS "Books_BookID", "Books"."Title" AS "Books_Title", "Books"."AuthorID" AS "Books_AuthorID"
FROM "Books"
WHERE ? = "Books"."AuthorID"
2024-05-12 15:08:06,418 INFO sqlalchemy.engine.Engine [cached since 0.01037s ago] (4,)
 - Book: Norwegian Wood
 - Book: Kafka on the Shore
Author: 5 - J.K. Rowling
2024-05-12 15:08:06,421 INFO sqlalchemy.engine.Engine SELECT "Books"."BookID" AS "Books_BookID", "Books"."Title" AS "Books_Title", "Books"."AuthorID" AS "Books_AuthorID"
FROM "Books"
WHERE ? = "Books"."AuthorID"
2024-05-12 15:08:06,421 INFO sqlalchemy.engine.Engine [cached since 0.01344s ago] (5,)
 - Book: Harry Potter and the Sorcerer's Stone
 - Book: Harry Potter and the Chamber of Secrets
2024-05-12 15:08:06,423 INFO sqlalchemy.engine.Engine ROLLBACK

# Workout On Retrieving Data

## Retrieving All Authors

In [9]:
with Session() as session:
    authors = session.query(Author).all()
    for author in authors:
        print(author.Name)

2024-05-12 15:08:06,431 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-05-12 15:08:06,434 INFO sqlalchemy.engine.Engine SELECT "Authors"."AuthorID" AS "Authors_AuthorID", "Authors"."Name" AS "Authors_Name"
FROM "Authors"
2024-05-12 15:08:06,434 INFO sqlalchemy.engine.Engine [cached since 0.03099s ago] ()
Alice Munro
Chimamanda Ngozi Adichie
Gabriel Garc칤a M치rquez
Haruki Murakami
J.K. Rowling
2024-05-12 15:08:06,436 INFO sqlalchemy.engine.Engine ROLLBACK

## Retrieving All Books

In [10]:
with Session() as session:
    books = session.query(Book).all()
    for book in books:
        print(book.Title)

2024-05-12 15:08:06,450 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-05-12 15:08:06,453 INFO sqlalchemy.engine.Engine SELECT "Books"."BookID" AS "Books_BookID", "Books"."Title" AS "Books_Title", "Books"."AuthorID" AS "Books_AuthorID"
FROM "Books"
2024-05-12 15:08:06,454 INFO sqlalchemy.engine.Engine [generated in 0.00164s] ()
Runaway
Half of a Yellow Sun
Americanah
One Hundred Years of Solitude
Love in the Time of Cholera
Norwegian Wood
Kafka on the Shore
Harry Potter and the Sorcerer's Stone
Harry Potter and the Chamber of Secrets
2024-05-12 15:08:06,457 INFO sqlalchemy.engine.Engine ROLLBACK

## Retrieve Books by a Specific Author

In [11]:
with Session() as session:
    books = (session
             .query(Book)
             .join(Author)
             .filter(Author.Name == 'J.K. Rowling')
             .all())
    for book in books:
        print(f"{book.Title} by {book.author.Name}")

2024-05-12 15:08:06,470 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-05-12 15:08:06,474 INFO sqlalchemy.engine.Engine SELECT "Books"."BookID" AS "Books_BookID", "Books"."Title" AS "Books_Title", "Books"."AuthorID" AS "Books_AuthorID"
FROM "Books" JOIN "Authors" ON "Authors"."AuthorID" = "Books"."AuthorID"
WHERE "Authors"."Name" = ?
2024-05-12 15:08:06,475 INFO sqlalchemy.engine.Engine [generated in 0.00114s] ('J.K. Rowling',)
2024-05-12 15:08:06,478 INFO sqlalchemy.engine.Engine SELECT "Authors"."AuthorID" AS "Authors_AuthorID", "Authors"."Name" AS "Authors_Name"
FROM "Authors"
WHERE "Authors"."AuthorID" = ?
2024-05-12 15:08:06,480 INFO sqlalchemy.engine.Engine [generated in 0.00162s] (5,)
Harry Potter and the Sorcerer's Stone by J.K. Rowling
Harry Potter and the Chamber of Secrets by J.K. Rowling
2024-05-12 15:08:06,482 INFO sqlalchemy.engine.Engine ROLLBACK

In [12]:
# A more complex one, with the `contains` method
with Session() as session:
    books = (session
             .query(Book)
             .join(Author)
             .filter(Author.Name.contains("Haruki"))
             .all())
    for book in books:
        print(f"{book.Title} by {book.author.Name}")

2024-05-12 15:08:06,491 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-05-12 15:08:06,494 INFO sqlalchemy.engine.Engine SELECT "Books"."BookID" AS "Books_BookID", "Books"."Title" AS "Books_Title", "Books"."AuthorID" AS "Books_AuthorID"
FROM "Books" JOIN "Authors" ON "Authors"."AuthorID" = "Books"."AuthorID"
WHERE ("Authors"."Name" LIKE '%' || ? || '%')
2024-05-12 15:08:06,495 INFO sqlalchemy.engine.Engine [generated in 0.00092s] ('Haruki',)
2024-05-12 15:08:06,497 INFO sqlalchemy.engine.Engine SELECT "Authors"."AuthorID" AS "Authors_AuthorID", "Authors"."Name" AS "Authors_Name"
FROM "Authors"
WHERE "Authors"."AuthorID" = ?
2024-05-12 15:08:06,497 INFO sqlalchemy.engine.Engine [cached since 0.01934s ago] (4,)
Norwegian Wood by Haruki Murakami
Kafka on the Shore by Haruki Murakami
2024-05-12 15:08:06,499 INFO sqlalchemy.engine.Engine ROLLBACK

## Query Books With Multiple Conditions

In [13]:
with Session() as session:
    books = (session
             .query(Book)
             .join(Author)
             .filter(Book.Title.contains("The"), Author.Name.contains("Alice"))
             .all())
    for book in books:
        print(f"{book.Title} by {book.author.Name}")

2024-05-12 15:08:06,511 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-05-12 15:08:06,515 INFO sqlalchemy.engine.Engine SELECT "Books"."BookID" AS "Books_BookID", "Books"."Title" AS "Books_Title", "Books"."AuthorID" AS "Books_AuthorID"
FROM "Books" JOIN "Authors" ON "Authors"."AuthorID" = "Books"."AuthorID"
WHERE ("Books"."Title" LIKE '%' || ? || '%') AND ("Authors"."Name" LIKE '%' || ? || '%')
2024-05-12 15:08:06,516 INFO sqlalchemy.engine.Engine [generated in 0.00135s] ('The', 'Alice')
2024-05-12 15:08:06,518 INFO sqlalchemy.engine.Engine ROLLBACK

## Find Authors Without Any Book

In [14]:
with Session() as session:
    authors_without_books = (session
                             .query(Author)
                             .outerjoin(Book, Author.books)
                             .filter(Book.BookID == None)
                             .all())
    for author in authors_without_books:
        print(author.Name)

2024-05-12 15:08:06,530 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-05-12 15:08:06,533 INFO sqlalchemy.engine.Engine SELECT "Authors"."AuthorID" AS "Authors_AuthorID", "Authors"."Name" AS "Authors_Name"
FROM "Authors" LEFT OUTER JOIN "Books" ON "Authors"."AuthorID" = "Books"."AuthorID"
WHERE "Books"."BookID" IS NULL
2024-05-12 15:08:06,534 INFO sqlalchemy.engine.Engine [generated in 0.00135s] ()
2024-05-12 15:08:06,536 INFO sqlalchemy.engine.Engine ROLLBACK

# Introspection

## Using Reflection

Reflection in SQLAlchemy is a process of loading table information directly from the database into SQLAlchemy metadata.

This can be extremely useful for generating model classes from an existing database.

In [15]:
from sqlalchemy import MetaData
from sqlalchemy.schema import Table

In [16]:
# Create a MetaData instance
metadata = MetaData()

In [17]:
# Reflect an existing table
books_table = Table('Books', metadata, autoload_with=engine)

2024-05-12 15:08:06,570 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-05-12 15:08:06,572 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("Books")
2024-05-12 15:08:06,573 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-05-12 15:08:06,575 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2024-05-12 15:08:06,576 INFO sqlalchemy.engine.Engine [raw sql] ('Books',)
2024-05-12 15:08:06,578 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("Books")
2024-05-12 15:08:06,579 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-05-12 15:08:06,581 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2024-05-12 15:08:06,582 INFO sqlalchemy.engine.Engine [raw sql] ('Books',)
2024-05-12 15:08:06,584 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("Books")
2024-05-12 15:08:06,584 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-05-12 15:08:06,585 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("Books")
2024-05-12 15:08:06,587 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-05-12 15:08:06,588 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Books")
2024-05-12 15:08:06,588 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-05-12 15:08:06,589 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("Books")
2024-05-12 15:08:06,590 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-05-12 15:08:06,592 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("Books")
2024-05-12 15:08:06,592 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-05-12 15:08:06,594 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Books")
2024-05-12 15:08:06,595 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-05-12 15:08:06,595 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2024-05-12 15:08:06,596 INFO sqlalchemy.engine.Engine [raw sql] ('Books',)
2024-05-12 15:08:06,599 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("Authors")
2024-05-12 15:08:06,600 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-05-12 15:08:06,602 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2024-05-12 15:08:06,603 INFO sqlalchemy.engine.Engine [raw sql] ('Authors',)
2024-05-12 15:08:06,604 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("Authors")
2024-05-12 15:08:06,605 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-05-12 15:08:06,606 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("Authors")
2024-05-12 15:08:06,606 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-05-12 15:08:06,607 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2024-05-12 15:08:06,608 INFO sqlalchemy.engine.Engine [raw sql] ('Authors',)
2024-05-12 15:08:06,611 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("Authors")
2024-05-12 15:08:06,611 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-05-12 15:08:06,613 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("Authors")
2024-05-12 15:08:06,613 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-05-12 15:08:06,615 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Authors")
2024-05-12 15:08:06,615 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-05-12 15:08:06,616 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("Authors")
2024-05-12 15:08:06,617 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-05-12 15:08:06,618 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("Authors")
2024-05-12 15:08:06,618 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-05-12 15:08:06,619 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Authors")
2024-05-12 15:08:06,620 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-05-12 15:08:06,621 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2024-05-12 15:08:06,622 INFO sqlalchemy.engine.Engine [raw sql] ('Authors',)
2024-05-12 15:08:06,623 INFO sqlalchemy.engine.Engine ROLLBACK

In [18]:
# Access table details
print(books_table.columns.keys())
print(books_table.foreign_keys)

['BookID', 'Title', 'AuthorID']
{ForeignKey('Authors.AuthorID')}

Some introspection may involve exploring the `books_table` attributes...

In [19]:
[attr for attr in dir(books_table) if attr[0] != '_']

['add_is_dependent_on',
 'alias',
 'allows_lambda',
 'append_column',
 'append_constraint',
 'argument_for',
 'autoincrement_column',
 'c',
 'columns',
 'comment',
 'compare',
 'compile',
 'constraints',
 'corresponding_column',
 'create',
 'create_drop_stringify_dialect',
 'delete',
 'description',
 'dialect_kwargs',
 'dialect_options',
 'dispatch',
 'drop',
 'entity_namespace',
 'exported_columns',
 'foreign_key_constraints',
 'foreign_keys',
 'fullname',
 'get_children',
 'implicit_returning',
 'indexes',
 'info',
 'inherit_cache',
 'insert',
 'is_clause_element',
 'is_derived_from',
 'is_dml',
 'is_selectable',
 'join',
 'key',
 'kwargs',
 'lateral',
 'memoized_attribute',
 'memoized_instancemethod',
 'metadata',
 'name',
 'named_with_column',
 'outerjoin',
 'params',
 'primary_key',
 'replace_selectable',
 'schema',
 'select',
 'selectable',
 'self_group',
 'stringify_dialect',
 'supports_execution',
 'table_valued',
 'tablesample',
 'to_metadata',
 'tometadata',
 'unique_params',
 'update',
 'uses_inspection']

## Using `Inspector`

The inspector is a lower-level system which directly queries database schema information.

It is part of SQLAlchemy's engine and can be used to get detailed information about the database structure.

In [20]:
from sqlalchemy.engine import reflection

In [21]:
# Create an inspector
inspector = reflection.Inspector.from_engine(engine)

/tmp/ipykernel_23444/641344358.py:2: SADeprecationWarning: The from_engine() method on Inspector is deprecated and will be removed in a future release.  Please use the sqlalchemy.inspect() function on an Engine or Connection in order to acquire an Inspector. (deprecated since: 1.4)
  inspector = reflection.Inspector.from_engine(engine)

In [22]:
# Get table names
print(inspector.get_table_names())

2024-05-12 15:08:06,680 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-05-12 15:08:06,681 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2024-05-12 15:08:06,682 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-05-12 15:08:06,684 INFO sqlalchemy.engine.Engine ROLLBACK
['Authors', 'Books']

In [23]:
# Get column information
for table_name in inspector.get_table_names():
    print(f"Columns in {table_name}: {inspector.get_columns(table_name)}")

2024-05-12 15:08:06,695 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-05-12 15:08:06,696 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("Authors")
2024-05-12 15:08:06,697 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-05-12 15:08:06,699 INFO sqlalchemy.engine.Engine ROLLBACK
Columns in Authors: [{'name': 'AuthorID', 'type': INTEGER(), 'nullable': False, 'default': None, 'primary_key': 1}, {'name': 'Name', 'type': VARCHAR(), 'nullable': False, 'default': None, 'primary_key': 0}]
2024-05-12 15:08:06,701 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-05-12 15:08:06,702 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("Books")
2024-05-12 15:08:06,703 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-05-12 15:08:06,704 INFO sqlalchemy.engine.Engine ROLLBACK
Columns in Books: [{'name': 'BookID', 'type': INTEGER(), 'nullable': False, 'default': None, 'primary_key': 1}, {'name': 'Title', 'type': VARCHAR(), 'nullable': False, 'default': None, 'primary_key': 0}, {'name': 'AuthorID', 'type': INTEGER(), 'nullable': True, 'default': None, 'primary_key': 0}]

### Adressing Deprecation Issue

In [24]:
from sqlalchemy import inspect

In [25]:
# Use inspect function to get an inspector object
inspector = inspect(engine)

In [26]:
# Similarly to previous code...
# Get table names
print(inspector.get_table_names())
# Get column information
for table_name in inspector.get_table_names():
    print(f"Columns in {table_name}: {inspector.get_columns(table_name)}")

2024-05-12 15:08:06,736 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-05-12 15:08:06,738 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2024-05-12 15:08:06,738 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-05-12 15:08:06,740 INFO sqlalchemy.engine.Engine ROLLBACK
['Authors', 'Books']
2024-05-12 15:08:06,741 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-05-12 15:08:06,742 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("Authors")
2024-05-12 15:08:06,743 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-05-12 15:08:06,744 INFO sqlalchemy.engine.Engine ROLLBACK
Columns in Authors: [{'name': 'AuthorID', 'type': INTEGER(), 'nullable': False, 'default': None, 'primary_key': 1}, {'name': 'Name', 'type': VARCHAR(), 'nullable': False, 'default': None, 'primary_key': 0}]
2024-05-12 15:08:06,746 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-05-12 15:08:06,747 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("Books")
2024-05-12 15:08:06,747 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-05-12 15:08:06,749 INFO sqlalchemy.engine.Engine ROLLBACK
Columns in Books: [{'name': 'BookID', 'type': INTEGER(), 'nullable': False, 'default': None, 'primary_key': 1}, {'name': 'Title', 'type': VARCHAR(), 'nullable': False, 'default': None, 'primary_key': 0}, {'name': 'AuthorID', 'type': INTEGER(), 'nullable': True, 'default': None, 'primary_key': 0}]

# Close the Connection

In [27]:
engine.dispose()