# Imports

For the sake of simplicity, and to help the reader focus on what's needed in each section, imports won't be grouped on top but detailed as soon as they appear to be useful.

# Introduction

Within this notebook, we'll go further with a more complicated "commercial-type" database.

This will allow us to:
- manipulate more complex data types, and see how it can be handled in SQLAlchemy,
- perform more complex queries, both in plain SQL or with the ORM, these ways being implemented in SQLAlchemy,
- discover how to populate this kind of database thanks to the `Faker` library.

# Models

## Imports

In [1]:
from datetime import datetime

from sqlalchemy import create_engine, Column, Integer, String, Float, DateTime, ForeignKey, Table
from sqlalchemy.orm import declarative_base, relationship, sessionmaker

## Definition

In [2]:
# Note that auto-increment is the default behavior for integer primary keys

Base = declarative_base()

class Client(Base):
    """A basic object representing `clients` table"""
    __tablename__ = "clients"
    # Fields
    id = Column(Integer, primary_key=True)
    name = Column(String)
    email = Column(String)
    # Relationship to orders (one to many)
    # One client may have many orders
    orders = relationship("Order", back_populates="client")
    

class Product(Base):
    """A basic object representing `products` table"""
    __tablename__ = "products"
    # Fields
    id = Column(Integer, primary_key=True)
    name = Column(String)
    price = Column(Float)
    # Relationship to order_details (one to many)
    # One product may have many order_details
    order_details = relationship("OrderDetail", back_populates="product")
    
    
class Order(Base):
    """A basic object representing `orders` table"""
    __tablename__ = "orders"
    # Fields
    id = Column(Integer, primary_key=True)
    client_id = Column(Integer, ForeignKey("clients.id"))
    date = Column(DateTime, default=datetime.utcnow)
    # Relationships
    # With clients (many to one): one client may have many orders
    client = relationship("Client", back_populates="orders")
    # With order_details (one to many): one order may have many order_details
    order_details = relationship("OrderDetail", back_populates="order")
    

class OrderDetail(Base):
    """An object figuring an association table between `orders` and `products`"""
    __tablename__ = "order_details"
    # Fields
    id = Column(Integer, primary_key=True)
    order_id = Column(Integer, ForeignKey("orders.id"))
    product_id = Column(Integer, ForeignKey("products.id"))
    quantity = Column(Integer)
    # Relationships
    # With order (many to one): one order may have many order_details
    order = relationship("Order", back_populates="order_details")
    # With product (many to one): one product may have many order_details
    product = relationship("Product", back_populates="order_details")

## Creation

In [3]:
# Create an engine that stores the data in the local directory's commercial.db
engine = create_engine('sqlite:///commercial.db', echo=True)

In [4]:
# Create all tables in the database which are defined by Base's subclasses
Base.metadata.create_all(engine)

2024-05-12 17:15:38,896 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-05-12 17:15:38,899 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("clients")
2024-05-12 17:15:38,900 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-05-12 17:15:38,901 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("clients")
2024-05-12 17:15:38,901 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-05-12 17:15:38,902 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("products")
2024-05-12 17:15:38,903 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-05-12 17:15:38,903 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("products")
2024-05-12 17:15:38,904 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-05-12 17:15:38,905 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("orders")
2024-05-12 17:15:38,906 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-05-12 17:15:38,907 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("orders")
2024-05-12 17:15:38,908 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-05-12 17:15:38,909 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("order_details")
2024-05-12 17:15:38,909 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-05-12 17:15:38,910 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("order_details")
2024-05-12 17:15:38,911 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-05-12 17:15:38,912 INFO sqlalchemy.engine.Engine
CREATE TABLE clients (
	id INTEGER NOT NULL,
	name VARCHAR,
	email VARCHAR,
	PRIMARY KEY (id)
)


2024-05-12 17:15:38,912 INFO sqlalchemy.engine.Engine [no key 0.00044s] ()
2024-05-12 17:15:38,925 INFO sqlalchemy.engine.Engine
CREATE TABLE products (
	id INTEGER NOT NULL,
	name VARCHAR,
	price FLOAT,
	PRIMARY KEY (id)
)


2024-05-12 17:15:38,926 INFO sqlalchemy.engine.Engine [no key 0.00056s] ()
2024-05-12 17:15:38,936 INFO sqlalchemy.engine.Engine
CREATE TABLE orders (
	id INTEGER NOT NULL,
	client_id INTEGER,
	date DATETIME,
	PRIMARY KEY (id),
	FOREIGN KEY(client_id) REFERENCES clients (id)
)


2024-05-12 17:15:38,937 INFO sqlalchemy.engine.Engine [no key 0.00061s] ()
2024-05-12 17:15:38,946 INFO sqlalchemy.engine.Engine
CREATE TABLE order_details (
	id INTEGER NOT NULL,
	order_id INTEGER,
	product_id INTEGER,
	quantity INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(order_id) REFERENCES orders (id),
	FOREIGN KEY(product_id) REFERENCES products (id)
)


2024-05-12 17:15:38,947 INFO sqlalchemy.engine.Engine [no key 0.00073s] ()
2024-05-12 17:15:38,958 INFO sqlalchemy.engine.Engine COMMIT

# Populate the Database

In [11]:
import random

from faker import Faker


fake = Faker()

## Define Data Requirements and Relationships

You need to understand the relationships:
- **Clients** can have multiple **Orders**.
- **Orders** can contain multiple **OrderDetails**.
- Each **OrderDetail** refers to one **Product**.
- **Products** can be associated with multiple **OrderDetails**.

## Generate Data for Independent Tables

You have to start with tables that do not have foreign key dependencies or where foreign keys refer to external data sources that do not require prior existence of other records in the database.

### Products

You'll begin with creating fake products first because they don't depend on any other data

In [16]:
products = [Product(name=fake.word(),
                    price=fake.random_number(digits=2))
            for _ in range(100)]

### Clients

Similarly to products, clients can be generated independently of other tables.

In [15]:
clients = [Client(name=fake.name(),
                  email=fake.email())
           for _ in range(50)]

## Populate Mono-Dependent Tables

Orders depend on clients.

Each order must be associated with a valid client ID.

In [14]:
orders = [Order(client_id=random.choice(clients).id,
                date=fake.date_between(start_date='-1y', end_date='today'))
          for _ in range(200)]

## Link Multi-Level Dependencies

OrderDetails depend on both orders and products.

They require valid IDs from both tables.

In [13]:
order_details = [OrderDetail(order_id=random.choice(orders).id,
                             product_id=random.choice(products).id,
                             quantity=random.randint(1, 10)) 
                 for _ in range(500)]

## Insert Data Into the Database

In [20]:
from sqlalchemy.orm import sessionmaker

In [21]:
Session = sessionmaker(bind=engine)

In [23]:
with Session() as session:
    session.add_all(products + clients + orders + order_details)
    session.commit()

2024-05-12 17:30:28,413 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-05-12 17:30:28,418 INFO sqlalchemy.engine.Engine INSERT INTO clients (name, email) VALUES (?, ?) RETURNING id
2024-05-12 17:30:28,419 INFO sqlalchemy.engine.Engine [generated in 0.00028s (insertmanyvalues) 1/50 (ordered; batch not supported)] ('Miguel Scott', 'stanley80@example.com')
2024-05-12 17:30:28,420 INFO sqlalchemy.engine.Engine INSERT INTO clients (name, email) VALUES (?, ?) RETURNING id
2024-05-12 17:30:28,421 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/50 (ordered; batch not supported)] ('Francisco Andrade', 'tiffany15@example.org')
2024-05-12 17:30:28,422 INFO sqlalchemy.engine.Engine INSERT INTO clients (name, email) VALUES (?, ?) RETURNING id
2024-05-12 17:30:28,422 INFO sqlalchemy.engine.Engine [insertmanyvalues 3/50 (ordered; batch not supported)] ('Cameron Owens', 'rebekah58@example.net')
2024-05-12 17:30:28,423 INFO sqlalchemy.engine.Engine INSERT INTO clients (name, email) VALUES (?, ?) RETURNING id
2024-05-12 17:30:28,423 INFO sqlalchemy.engine.Engine [insertmanyvalues 4/50 (ordered; batch not supported)] ('Bryan Barnett', 'greenjoy@example.org')
2024-05-12 17:30:28,424 INFO sqlalchemy.engine.Engine INSERT INTO clients (name, email) VALUES (?, ?) RETURNING id
2024-05-12 17:30:28,425 INFO sqlalchemy.engine.Engine [insertmanyvalues 5/50 (ordered; batch not supported)] ('Timothy Mills', 'torrescarol@example.net')
2024-05-12 17:30:28,426 INFO sqlalchemy.engine.Engine INSERT INTO clients (name, email) VALUES (?, ?) RETURNING id
2024-05-12 17:30:28,426 INFO sqlalchemy.engine.Engine [insertmanyvalues 6/50 (ordered; batch not supported)] ('Mike Bird', 'julie94@example.net')
2024-05-12 17:30:28,427 INFO sqlalchemy.engine.Engine INSERT INTO clients (name, email) VALUES (?, ?) RETURNING id
2024-05-12 17:30:28,428 INFO sqlalchemy.engine.Engine [insertmanyvalues 7/50 (ordered; batch not supported)] ('Mary Mcconnell MD', 'dnovak@example.net')
2024-05-12 17:30:28,429 INFO sqlalchemy.engine.Engine INSERT INTO clients (name, email) VALUES (?, ?) RETURNING id
2024-05-12 17:30:28,430 INFO sqlalchemy.engine.Engine [insertmanyvalues 8/50 (ordered; batch not supported)] ('Michele Lewis PhD', 'deborah40@example.com')
2024-05-12 17:30:28,431 INFO sqlalchemy.engine.Engine INSERT INTO clients (name, email) VALUES (?, ?) RETURNING id
2024-05-12 17:30:28,432 INFO sqlalchemy.engine.Engine [insertmanyvalues 9/50 (ordered; batch not supported)] ('David Vargas', 'ylucas@example.org')
2024-05-12 17:30:28,433 INFO sqlalchemy.engine.Engine INSERT INTO clients (name, email) VALUES (?, ?) RETURNING id
2024-05-12 17:30:28,433 INFO sqlalchemy.engine.Engine [insertmanyvalues 10/50 (ordered; batch not supported)] ('Grace Porter', 'jessica23@example.org')
2024-05-12 17:30:28,434 INFO sqlalchemy.engine.Engine INSERT INTO clients (name, email) VALUES (?, ?) RETURNING id
2024-05-12 17:30:28,434 INFO sqlalchemy.engine.Engine [insertmanyvalues 11/50 (ordered; batch not supported)] ('Ernest Zimmerman', 'derekweaver@example.com')
2024-05-12 17:30:28,435 INFO sqlalchemy.engine.Engine INSERT INTO clients (name, email) VALUES (?, ?) RETURNING id
2024-05-12 17:30:28,436 INFO sqlalchemy.engine.Engine [insertmanyvalues 12/50 (ordered; batch not supported)] ('Jeremy Jones', 'burnscourtney@example.com')
2024-05-12 17:30:28,437 INFO sqlalchemy.engine.Engine INSERT INTO clients (name, email) VALUES (?, ?) RETURNING id
2024-05-12 17:30:28,438 INFO sqlalchemy.engine.Engine [insertmanyvalues 13/50 (ordered; batch not supported)] ('Gregory Henderson', 'cassandra39@example.com')
2024-05-12 17:30:28,439 INFO sqlalchemy.engine.Engine INSERT INTO clients (name, email) VALUES (?, ?) RETURNING id
2024-05-12 17:30:28,439 INFO sqlalchemy.engine.Engine [insertmanyvalues 14/50 (ordered; batch not supported)] ('Juan Carter', 'xhoover@example.net')
2024-05-12 17:30:28,440 INFO sqlalchemy.engine.Engine INSERT INTO clients (name, email) VALUES (?, ?) RETURNING id
2024-05-12 17:30:28,441 INFO sqlalchemy.engine.Engine [insertmanyvalues 15/50 (ordered; batch not supported)] ('Wayne Fowler', 'phawkins@example.com')
2024-05-12 17:30:28,442 INFO sqlalchemy.engine.Engine INSERT INTO clients (name, email) VALUES (?, ?) RETURNING id
2024-05-12 17:30:28,442 INFO sqlalchemy.engine.Engine [insertmanyvalues 16/50 (ordered; batch not supported)] ('Rebecca Richardson', 'gdean@example.com')
2024-05-12 17:30:28,444 INFO sqlalchemy.engine.Engine INSERT INTO clients (name, email) VALUES (?, ?) RETURNING id
2024-05-12 17:30:28,444 INFO sqlalchemy.engine.Engine [insertmanyvalues 17/50 (ordered; batch not supported)] ('Amy Liu', 'leonardlauren@example.org')
2024-05-12 17:30:28,445 INFO sqlalchemy.engine.Engine INSERT INTO clients (name, email) VALUES (?, ?) RETURNING id
2024-05-12 17:30:28,446 INFO sqlalchemy.engine.Engine [insertmanyvalues 18/50 (ordered; batch not supported)] ('Dana Schaefer DVM', 'jose65@example.org')
2024-05-12 17:30:28,447 INFO sqlalchemy.engine.Engine INSERT INTO clients (name, email) VALUES (?, ?) RETURNING id
2024-05-12 17:30:28,447 INFO sqlalchemy.engine.Engine [insertmanyvalues 19/50 (ordered; batch not supported)] ('Karen Cabrera', 'ledwards@example.com')
2024-05-12 17:30:28,448 INFO sqlalchemy.engine.Engine INSERT INTO clients (name, email) VALUES (?, ?) RETURNING id
2024-05-12 17:30:28,449 INFO sqlalchemy.engine.Engine [insertmanyvalues 20/50 (ordered; batch not supported)] ('Katrina Davis', 'tiffanyhansen@example.com')
2024-05-12 17:30:28,450 INFO sqlalchemy.engine.Engine INSERT INTO clients (name, email) VALUES (?, ?) RETURNING id
2024-05-12 17:30:28,450 INFO sqlalchemy.engine.Engine [insertmanyvalues 21/50 (ordered; batch not supported)] ('Karen Peters', 'castroriley@example.org')
2024-05-12 17:30:28,451 INFO sqlalchemy.engine.Engine INSERT INTO clients (name, email) VALUES (?, ?) RETURNING id
2024-05-12 17:30:28,451 INFO sqlalchemy.engine.Engine [insertmanyvalues 22/50 (ordered; batch not supported)] ('Thomas Zuniga', 'vglass@example.net')
2024-05-12 17:30:28,452 INFO sqlalchemy.engine.Engine INSERT INTO clients (name, email) VALUES (?, ?) RETURNING id
2024-05-12 17:30:28,453 INFO sqlalchemy.engine.Engine [insertmanyvalues 23/50 (ordered; batch not supported)] ('Jeremy Ross', 'taylorvincent@example.org')
2024-05-12 17:30:28,454 INFO sqlalchemy.engine.Engine INSERT INTO clients (name, email) VALUES (?, ?) RETURNING id
2024-05-12 17:30:28,454 INFO sqlalchemy.engine.Engine [insertmanyvalues 24/50 (ordered; batch not supported)] ('Joseph Osborne', 'hesssteven@example.net')
2024-05-12 17:30:28,454 INFO sqlalchemy.engine.Engine INSERT INTO clients (name, email) VALUES (?, ?) RETURNING id
2024-05-12 17:30:28,455 INFO sqlalchemy.engine.Engine [insertmanyvalues 25/50 (ordered; batch not supported)] ('Jennifer Brown', 'shanelamb@example.org')
2024-05-12 17:30:28,456 INFO sqlalchemy.engine.Engine INSERT INTO clients (name, email) VALUES (?, ?) RETURNING id
2024-05-12 17:30:28,457 INFO sqlalchemy.engine.Engine [insertmanyvalues 26/50 (ordered; batch not supported)] ('Robert Alvarez', 'debrawright@example.com')
2024-05-12 17:30:28,457 INFO sqlalchemy.engine.Engine INSERT INTO clients (name, email) VALUES (?, ?) RETURNING id
2024-05-12 17:30:28,458 INFO sqlalchemy.engine.Engine [insertmanyvalues 27/50 (ordered; batch not supported)] ('Christopher Scott', 'hodgesmatthew@example.org')
2024-05-12 17:30:28,458 INFO sqlalchemy.engine.Engine INSERT INTO clients (name, email) VALUES (?, ?) RETURNING id
2024-05-12 17:30:28,459 INFO sqlalchemy.engine.Engine [insertmanyvalues 28/50 (ordered; batch not supported)] ('Mark Sanchez', 'deborah79@example.com')
2024-05-12 17:30:28,459 INFO sqlalchemy.engine.Engine INSERT INTO clients (name, email) VALUES (?, ?) RETURNING id
2024-05-12 17:30:28,460 INFO sqlalchemy.engine.Engine [insertmanyvalues 29/50 (ordered; batch not supported)] ('Jack Levine', 'christopher09@example.com')
2024-05-12 17:30:28,460 INFO sqlalchemy.engine.Engine INSERT INTO clients (name, email) VALUES (?, ?) RETURNING id
2024-05-12 17:30:28,461 INFO sqlalchemy.engine.Engine [insertmanyvalues 30/50 (ordered; batch not supported)] ('Tiffany Bailey', 'davenportjessica@example.com')
2024-05-12 17:30:28,461 INFO sqlalchemy.engine.Engine INSERT INTO clients (name, email) VALUES (?, ?) RETURNING id
2024-05-12 17:30:28,462 INFO sqlalchemy.engine.Engine [insertmanyvalues 31/50 (ordered; batch not supported)] ('Morgan Whitaker', 'zharding@example.net')
2024-05-12 17:30:28,462 INFO sqlalchemy.engine.Engine INSERT INTO clients (name, email) VALUES (?, ?) RETURNING id
2024-05-12 17:30:28,463 INFO sqlalchemy.engine.Engine [insertmanyvalues 32/50 (ordered; batch not supported)] ('Ashley Anderson', 'shane32@example.org')
2024-05-12 17:30:28,463 INFO sqlalchemy.engine.Engine INSERT INTO clients (name, email) VALUES (?, ?) RETURNING id
2024-05-12 17:30:28,464 INFO sqlalchemy.engine.Engine [insertmanyvalues 33/50 (ordered; batch not supported)] ('Patrick Conrad', 'murrayjeff@example.org')
2024-05-12 17:30:28,464 INFO sqlalchemy.engine.Engine INSERT INTO clients (name, email) VALUES (?, ?) RETURNING id
2024-05-12 17:30:28,465 INFO sqlalchemy.engine.Engine [insertmanyvalues 34/50 (ordered; batch not supported)] ('Kimberly Richards', 'dominiquecantrell@example.net')
2024-05-12 17:30:28,468 INFO sqlalchemy.engine.Engine INSERT INTO clients (name, email) VALUES (?, ?) RETURNING id
2024-05-12 17:30:28,469 INFO sqlalchemy.engine.Engine [insertmanyvalues 35/50 (ordered; batch not supported)] ('Felicia Reed', 'gwebster@example.com')
2024-05-12 17:30:28,469 INFO sqlalchemy.engine.Engine INSERT INTO clients (name, email) VALUES (?, ?) RETURNING id
2024-05-12 17:30:28,470 INFO sqlalchemy.engine.Engine [insertmanyvalues 36/50 (ordered; batch not supported)] ('Cody Dennis', 'raymondpatterson@example.net')
2024-05-12 17:30:28,470 INFO sqlalchemy.engine.Engine INSERT INTO clients (name, email) VALUES (?, ?) RETURNING id
2024-05-12 17:30:28,471 INFO sqlalchemy.engine.Engine [insertmanyvalues 37/50 (ordered; batch not supported)] ('Shannon Hernandez', 'keithmckay@example.com')
2024-05-12 17:30:28,471 INFO sqlalchemy.engine.Engine INSERT INTO clients (name, email) VALUES (?, ?) RETURNING id
2024-05-12 17:30:28,472 INFO sqlalchemy.engine.Engine [insertmanyvalues 38/50 (ordered; batch not supported)] ('Teresa Griffin', 'wesleyblanchard@example.org')
2024-05-12 17:30:28,472 INFO sqlalchemy.engine.Engine INSERT INTO clients (name, email) VALUES (?, ?) RETURNING id
2024-05-12 17:30:28,473 INFO sqlalchemy.engine.Engine [insertmanyvalues 39/50 (ordered; batch not supported)] ('Robin Jackson', 'shelby47@example.com')
2024-05-12 17:30:28,473 INFO sqlalchemy.engine.Engine INSERT INTO clients (name, email) VALUES (?, ?) RETURNING id
2024-05-12 17:30:28,474 INFO sqlalchemy.engine.Engine [insertmanyvalues 40/50 (ordered; batch not supported)] ('Erica Cunningham', 'nwilson@example.org')
2024-05-12 17:30:28,476 INFO sqlalchemy.engine.Engine INSERT INTO clients (name, email) VALUES (?, ?) RETURNING id
2024-05-12 17:30:28,476 INFO sqlalchemy.engine.Engine [insertmanyvalues 41/50 (ordered; batch not supported)] ('Matthew Morrison', 'jennifer45@example.net')
2024-05-12 17:30:28,477 INFO sqlalchemy.engine.Engine INSERT INTO clients (name, email) VALUES (?, ?) RETURNING id
2024-05-12 17:30:28,478 INFO sqlalchemy.engine.Engine [insertmanyvalues 42/50 (ordered; batch not supported)] ('Donald Hernandez', 'melissahansen@example.net')
2024-05-12 17:30:28,478 INFO sqlalchemy.engine.Engine INSERT INTO clients (name, email) VALUES (?, ?) RETURNING id
2024-05-12 17:30:28,478 INFO sqlalchemy.engine.Engine [insertmanyvalues 43/50 (ordered; batch not supported)] ('Zachary Best', 'richardmorgan@example.org')
2024-05-12 17:30:28,479 INFO sqlalchemy.engine.Engine INSERT INTO clients (name, email) VALUES (?, ?) RETURNING id
2024-05-12 17:30:28,479 INFO sqlalchemy.engine.Engine [insertmanyvalues 44/50 (ordered; batch not supported)] ('Stephanie Simpson', 'victoriasmith@example.net')
2024-05-12 17:30:28,481 INFO sqlalchemy.engine.Engine INSERT INTO clients (name, email) VALUES (?, ?) RETURNING id
2024-05-12 17:30:28,481 INFO sqlalchemy.engine.Engine [insertmanyvalues 45/50 (ordered; batch not supported)] ('Brendan Oliver', 'andrea52@example.org')
2024-05-12 17:30:28,482 INFO sqlalchemy.engine.Engine INSERT INTO clients (name, email) VALUES (?, ?) RETURNING id
2024-05-12 17:30:28,483 INFO sqlalchemy.engine.Engine [insertmanyvalues 46/50 (ordered; batch not supported)] ('Beth Garcia', 'ftodd@example.org')
2024-05-12 17:30:28,484 INFO sqlalchemy.engine.Engine INSERT INTO clients (name, email) VALUES (?, ?) RETURNING id
2024-05-12 17:30:28,484 INFO sqlalchemy.engine.Engine [insertmanyvalues 47/50 (ordered; batch not supported)] ('Christian Moore MD', 'michaeldavis@example.net')
2024-05-12 17:30:28,486 INFO sqlalchemy.engine.Engine INSERT INTO clients (name, email) VALUES (?, ?) RETURNING id
2024-05-12 17:30:28,487 INFO sqlalchemy.engine.Engine [insertmanyvalues 48/50 (ordered; batch not supported)] ('Cynthia Richardson', 'leondenise@example.org')
2024-05-12 17:30:28,488 INFO sqlalchemy.engine.Engine INSERT INTO clients (name, email) VALUES (?, ?) RETURNING id
2024-05-12 17:30:28,488 INFO sqlalchemy.engine.Engine [insertmanyvalues 49/50 (ordered; batch not supported)] ('Michelle Powell', 'amoreno@example.net')
2024-05-12 17:30:28,489 INFO sqlalchemy.engine.Engine INSERT INTO clients (name, email) VALUES (?, ?) RETURNING id
2024-05-12 17:30:28,490 INFO sqlalchemy.engine.Engine [insertmanyvalues 50/50 (ordered; batch not supported)] ('Carl Mcgee', 'wilsonrebecca@example.org')
2024-05-12 17:30:28,492 INFO sqlalchemy.engine.Engine INSERT INTO products (name, price) VALUES (?, ?) RETURNING id
2024-05-12 17:30:28,493 INFO sqlalchemy.engine.Engine [generated in 0.00025s (insertmanyvalues) 1/100 (ordered; batch not supported)] ('site', 84.0)
2024-05-12 17:30:28,493 INFO sqlalchemy.engine.Engine INSERT INTO products (name, price) VALUES (?, ?) RETURNING id
2024-05-12 17:30:28,494 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/100 (ordered; batch not supported)] ('reduce', 92.0)
2024-05-12 17:30:28,495 INFO sqlalchemy.engine.Engine INSERT INTO products (name, price) VALUES (?, ?) RETURNING id
2024-05-12 17:30:28,496 INFO sqlalchemy.engine.Engine [insertmanyvalues 3/100 (ordered; batch not supported)] ('senior', 86.0)
2024-05-12 17:30:28,496 INFO sqlalchemy.engine.Engine INSERT INTO products (name, price) VALUES (?, ?) RETURNING id
2024-05-12 17:30:28,496 INFO sqlalchemy.engine.Engine [insertmanyvalues 4/100 (ordered; batch not supported)] ('hold', 93.0)
2024-05-12 17:30:28,497 INFO sqlalchemy.engine.Engine INSERT INTO products (name, price) VALUES (?, ?) RETURNING id
2024-05-12 17:30:28,497 INFO sqlalchemy.engine.Engine [insertmanyvalues 5/100 (ordered; batch not supported)] ('why', 94.0)
2024-05-12 17:30:28,498 INFO sqlalchemy.engine.Engine INSERT INTO products (name, price) VALUES (?, ?) RETURNING id
2024-05-12 17:30:28,500 INFO sqlalchemy.engine.Engine [insertmanyvalues 6/100 (ordered; batch not supported)] ('stuff', 42.0)
2024-05-12 17:30:28,501 INFO sqlalchemy.engine.Engine INSERT INTO products (name, price) VALUES (?, ?) RETURNING id
2024-05-12 17:30:28,501 INFO sqlalchemy.engine.Engine [insertmanyvalues 7/100 (ordered; batch not supported)] ('debate', 54.0)
2024-05-12 17:30:28,502 INFO sqlalchemy.engine.Engine INSERT INTO products (name, price) VALUES (?, ?) RETURNING id
2024-05-12 17:30:28,503 INFO sqlalchemy.engine.Engine [insertmanyvalues 8/100 (ordered; batch not supported)] ('teach', 46.0)
2024-05-12 17:30:28,504 INFO sqlalchemy.engine.Engine INSERT INTO products (name, price) VALUES (?, ?) RETURNING id
2024-05-12 17:30:28,504 INFO sqlalchemy.engine.Engine [insertmanyvalues 9/100 (ordered; batch not supported)] ('music', 20.0)
2024-05-12 17:30:28,505 INFO sqlalchemy.engine.Engine INSERT INTO products (name, price) VALUES (?, ?) RETURNING id
2024-05-12 17:30:28,505 INFO sqlalchemy.engine.Engine [insertmanyvalues 10/100 (ordered; batch not supported)] ('low', 52.0)
2024-05-12 17:30:28,506 INFO sqlalchemy.engine.Engine INSERT INTO products (name, price) VALUES (?, ?) RETURNING id
2024-05-12 17:30:28,507 INFO sqlalchemy.engine.Engine [insertmanyvalues 11/100 (ordered; batch not supported)] ('quite', 13.0)
2024-05-12 17:30:28,507 INFO sqlalchemy.engine.Engine INSERT INTO products (name, price) VALUES (?, ?) RETURNING id
2024-05-12 17:30:28,508 INFO sqlalchemy.engine.Engine [insertmanyvalues 12/100 (ordered; batch not supported)] ('game', 87.0)
2024-05-12 17:30:28,509 INFO sqlalchemy.engine.Engine INSERT INTO products (name, price) VALUES (?, ?) RETURNING id
2024-05-12 17:30:28,509 INFO sqlalchemy.engine.Engine [insertmanyvalues 13/100 (ordered; batch not supported)] ('strategy', 44.0)
2024-05-12 17:30:28,510 INFO sqlalchemy.engine.Engine INSERT INTO products (name, price) VALUES (?, ?) RETURNING id
2024-05-12 17:30:28,511 INFO sqlalchemy.engine.Engine [insertmanyvalues 14/100 (ordered; batch not supported)] ('piece', 78.0)
2024-05-12 17:30:28,511 INFO sqlalchemy.engine.Engine INSERT INTO products (name, price) VALUES (?, ?) RETURNING id
2024-05-12 17:30:28,512 INFO sqlalchemy.engine.Engine [insertmanyvalues 15/100 (ordered; batch not supported)] ('some', 16.0)
2024-05-12 17:30:28,512 INFO sqlalchemy.engine.Engine INSERT INTO products (name, price) VALUES (?, ?) RETURNING id
2024-05-12 17:30:28,513 INFO sqlalchemy.engine.Engine [insertmanyvalues 16/100 (ordered; batch not supported)] ('deep', 66.0)
2024-05-12 17:30:28,513 INFO sqlalchemy.engine.Engine INSERT INTO products (name, price) VALUES (?, ?) RETURNING id
2024-05-12 17:30:28,514 INFO sqlalchemy.engine.Engine [insertmanyvalues 17/100 (ordered; batch not supported)] ('fall', 35.0)
2024-05-12 17:30:28,514 INFO sqlalchemy.engine.Engine INSERT INTO products (name, price) VALUES (?, ?) RETURNING id
2024-05-12 17:30:28,515 INFO sqlalchemy.engine.Engine [insertmanyvalues 18/100 (ordered; batch not supported)] ('ready', 63.0)
2024-05-12 17:30:28,515 INFO sqlalchemy.engine.Engine INSERT INTO products (name, price) VALUES (?, ?) RETURNING id
2024-05-12 17:30:28,516 INFO sqlalchemy.engine.Engine [insertmanyvalues 19/100 (ordered; batch not supported)] ('government', 77.0)
2024-05-12 17:30:28,517 INFO sqlalchemy.engine.Engine INSERT INTO products (name, price) VALUES (?, ?) RETURNING id
2024-05-12 17:30:28,517 INFO sqlalchemy.engine.Engine [insertmanyvalues 20/100 (ordered; batch not supported)] ('us', 49.0)
2024-05-12 17:30:28,518 INFO sqlalchemy.engine.Engine INSERT INTO products (name, price) VALUES (?, ?) RETURNING id
2024-05-12 17:30:28,518 INFO sqlalchemy.engine.Engine [insertmanyvalues 21/100 (ordered; batch not supported)] ('ahead', 81.0)
2024-05-12 17:30:28,521 INFO sqlalchemy.engine.Engine INSERT INTO products (name, price) VALUES (?, ?) RETURNING id
2024-05-12 17:30:28,522 INFO sqlalchemy.engine.Engine [insertmanyvalues 22/100 (ordered; batch not supported)] ('need', 65.0)
2024-05-12 17:30:28,523 INFO sqlalchemy.engine.Engine INSERT INTO products (name, price) VALUES (?, ?) RETURNING id
2024-05-12 17:30:28,523 INFO sqlalchemy.engine.Engine [insertmanyvalues 23/100 (ordered; batch not supported)] ('tough', 36.0)
2024-05-12 17:30:28,524 INFO sqlalchemy.engine.Engine INSERT INTO products (name, price) VALUES (?, ?) RETURNING id
2024-05-12 17:30:28,525 INFO sqlalchemy.engine.Engine [insertmanyvalues 24/100 (ordered; batch not supported)] ('better', 10.0)
2024-05-12 17:30:28,525 INFO sqlalchemy.engine.Engine INSERT INTO products (name, price) VALUES (?, ?) RETURNING id
2024-05-12 17:30:28,526 INFO sqlalchemy.engine.Engine [insertmanyvalues 25/100 (ordered; batch not supported)] ('free', 42.0)
2024-05-12 17:30:28,526 INFO sqlalchemy.engine.Engine INSERT INTO products (name, price) VALUES (?, ?) RETURNING id
2024-05-12 17:30:28,527 INFO sqlalchemy.engine.Engine [insertmanyvalues 26/100 (ordered; batch not supported)] ('you', 13.0)